<article>
<header>
    <h1><a href="$url$">$title$</a></h1>
</header>
<p class="meta">
    $if(prev)$
    <span class="prev">
        <a href="$prev$">&larr;</a>
    </span>
    $endif$
    $if(next)$
    <span class="next">
        <a href="$next$">&rarr;</a>
    </span>
    $endif$
    <time>$date$</time>
    $if(tags)$
        <span class="tags">
        $tags$
        </span>
    $endif$
</p>
<div class="content">
    $body$
</div>

<div class="comments">
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
        var slug = "$slug$";
        this.page.url = "http://sandymaguire.me/blog/" + slug;
        this.page.identifier = slug;
    };
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://danglinggazpacho.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>
      Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
</div>
</article>
